<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>
			Universe
		</title>
		<meta name="description" content="Universe in a sweet show" />
		<link rel="stylesheet" href="../static/styles/style.css">
	</head>
	<body>
		<header>
			<img src="../static/styles/img/Vast-Universe-Art-Concept.webp" class="img">
			<h2>UNIVERSE</h2>
			<h3>About us</h3>
			<hr>
		</header>
		<div class="main">
				<audio autoplay loop>
					<source src="../static/styles/audios/tranquilness-ambient-healing-music-meditation-yoga-zen-112329.mp3" type="audio/mpeg">
				</audio>
				<video autoplay muted loop class="first" poster="../static/styles/img/milky-way-2695569.jpg">
					<source src="../static/styles/videos/space_-_2381 (Original).mp4" type="video/mp4"></source>
				</video>
				<video autoplay muted loop class="second" poster="../static/styles/img/milky-way-2695569.jpg">
					<source src="../static/styles/videos/657905493.mp4" type="video/mp4"></source>
				</video>
				<div class="galaxies">
					<p class="word">Galaxies</p>
					<ul class="display">
						{% for galaxy in universe %}
						<li class="{{ galaxy.galaxy_classname }}">
							{{ galaxy.galaxy }}
							<div class="solar_systems">
								<ul>
									{% for solar_system in galaxy.solar_systems %}
									<li class="{{ solar_system.solar_system_classname }}">
										{{ solar_system.solar_system }}
										<div class="planets">
											<ul>
												{% for planet in solar_system.planets %}
												<li class="{{ planet.planet_classname }}">
													{{ planet.planet }}
												</li>
												{% endfor %}
											</ul>
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</li>
						{% endfor %}

					</ul>
				</div>
				<div class="details">
					{% for detail in details %}
					<div class="{{ detail.classname }}">
						<pre>{{ detail.details }}</pre>
						<img src="{{ detail.path_of_img }}" class="pics">
					</div>
					{% endfor %}
				</div>
				<div class="swimming">
					<img src="../static/styles/img/earth-1179212.png" class="i1">
					<img src="../static/styles/img/earth-1303628.png" class="i2">
					<img src="../static/styles/img/isolated-1513342.png" class="i3">
					<img src="../static/styles/img/jupiter-153563_1920.png" class="i4">
					<img src="../static/styles/img/mars-153566_1920.png" class="i5">
					<img src="../static/styles/img/moon-1303512.png" class="i6">
					<img src="../static/styles/img/moon-26619_1920.png" class="i7">
					<img src="../static/styles/img/saturn-4314403.png" class="i8">
				</div>
<pre class="about">
		Eng: Hazem ALi [Zoome]					degrees: University,  ALX				  Number: +201149061135
	 Email: hazemali1343@gmail.com					linkedin: hazem ali					discord: hazem1343
</pre>
		</div>
		<script src="../static/scripts/script.js"></script>
	</body>
</html>
